In [50]:
a = str(input())
b = ' '.join(a.split('.'))
c = ' '.join(b.split(','))
d = c.split()
print(d)
d.count('the')

['the', "grown-ups'", 'response', 'this', 'time', 'was', 'to', 'advise', 'me', 'to', 'lay', 'aside', 'my', 'drawings', 'of', 'boa', 'constrictors', 'whether', 'from', 'the', 'inside', 'or', 'the', 'outside', 'and', 'devote', 'myself', 'instead', 'to', 'geography', 'history', 'arithmetic', 'and', 'grammar', 'That', 'is', 'why', 'at', 'the', 'age', 'of', 'six', 'I', 'gave', 'up', 'what', 'might', 'have', 'been', 'a', 'magnificent', 'career', 'as', 'a', 'painter', 'I', 'had', 'been', 'disheartened', 'by', 'the', 'failure', 'of', 'my', 'Drawing', 'Number', 'One', 'and', 'my', 'Drawing', 'Number', 'Two', 'Grown-ups', 'never', 'understand', 'anything', 'by', 'themselves', 'and', 'it', 'is', 'tiresome', 'for', 'children', 'to', 'be', 'always', 'and', 'forever', 'explaining', 'things', 'to', 'the']

6

In [85]:
a = str(input())
b = ' '.join(a.split('.'))
c = ' '.join(b.split(','))
d = c.split()
e = 0
for i in d:   
    if i == 'the':
        e += 1
print(e)

6

In [87]:
a = str(input())
d = c.split()
e = 0
for i in d:   
    if i == 'the':
        e += 1
print(e)

6


text = the grown-ups' response, this time, was to advise me to lay aside my drawings of boa constrictors, whether from the inside or the outside, and devote myself instead to geography, history, arithmetic, and grammar. That is why, at the, age of six, I gave up what might have been a magnificent career as a painter. I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two. Grown-ups never understand anything by themselves, and it is tiresome for children to be always and forever explaining things to the.

In [187]:
text = 'the grown-ups' response, this time, was to advise me to lay aside my drawings of boa constrictors, whether from the inside or the outside, and devote myself instead to geography, history, arithmetic, and grammar. That is why, at the, age of six, I gave up what might have been a magnificent career as a painter. I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two. Grown-ups never understand anything by themselves, and it is tiresome for children to be always and forever explaining things to the.'

SyntaxError: invalid syntax (<ipython-input-187-f46313f26a84>, line 1)

In [185]:
text_list = text.split()
count_the = 0
for word in text_list:
    word = word.strip("',.").lower()
    if word == 'the' :
        count_the += 1
print(count_the)

NameError: name 'text' is not defined

In [178]:
price = list(map(int, input().split(';')))
price.sort(reverse=True)
for i in price:
    print(f'{i:>9,d}')

1,304,000
  367,500
  250,000
  158,000
  128,500
   83,000
   59,200
   51,900

In [142]:
a = ' '.join(price.split(';'))
c=a.split()
c

['51900', '83000', '158000', '367500', '250000', '59200', '128500', '1304000']

In [137]:
for i in a.split():
    print(i)

51900
83000
158000
367500
250000
59200
128500
1304000

In [181]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x = {key: value for key, value in x.items() if value != 40}
x

{'a': 10, 'b': 20, 'c': 30}

In [182]:
import copy
x = {'python': {'version': '2.7'}, 'script': {'name': 'hello.py'}}
a = x
b = x.copy()
c = copy.deepcopy(x)
x['python']['version'] = '3.6'
print(a['python']['version'], b['python']['version'], c['python']['version'])

3.6 3.6 2.7

In [188]:
input_str = '51900;83000;367500;250000;59200;128500;1304000'
price_list = list(map(int, input_str.split(';')))
price_list

[51900, 83000, 367500, 250000, 59200, 128500, 1304000]

In [190]:
price_list.sort(reverse=True)
price_list

[1304000, 367500, 250000, 128500, 83000, 59200, 51900]

In [192]:
for price in price_list:
    print(f'{price:9,d}')

1,304,000
  367,500
  250,000
  128,500
   83,000
   59,200
   51,900

In [196]:
# alpha bravo charlie delta
# 10 20 30 40
keys = input().split()
values = map(int, input().split())
x = dict(zip(keys, values))
x

{'alpha': 10, 'bravo': 20, 'charlie': 30, 'delta': 40}

In [197]:
del x['delta']
x

{'alpha': 10, 'bravo': 20, 'charlie': 30}

In [198]:
for key, value in x.items():
    if value == 30:
        break
x.pop(key)      #del x[key]

30

In [199]:
x

{'alpha': 10, 'bravo': 20}

In [200]:
# u 26
div_list = []
x = 10
for i in range(1,x+1):
    if x % i ==0:
        div_list.append(i)
set(div_list)

{1, 2, 5, 10}

In [205]:
x, y = map(int, input().split())
a = { i for i in range(1,x+1) if x % i ==0}
b = { i for i in range(1,y+1) if y % i ==0}
print(a, b)

{1, 2, 10, 5} {1, 2, 4, 5, 10, 20}

In [ ]:
#27
with open('words.txt') as file:
    words = file.read()
for word in words.split():
    word = word.strip(',.')
    if 'c' in word:
        print(word)

In [ ]:
with open('words.txt') as file:
    words = file.read()
for word in words.split():
    word = word.strip(',.')
    if 'c' in word:
        print(word)

Fortunately, however, for the reputation of Asteroid B-612, a Turkish dictator made a law that his subjects, under pain of death, should change to European costume. So in 1920 the astronomer gave his demonstration all over again, dressed with impressive style and elegance. And this time everybody accepted his report.

In [1]:
a='Fortunately, however, for the reputation of Asteroid B-612, a Turkish dictator made a law that his subjects, under pain of death, should change to European costume. So in 1920 the astronomer gave his demonstration all over again, dressed with impressive style and elegance. And this time everybody accepted his report.'

In [2]:
for a in a.split():
    a = a.strip(',.')
    if 'c' in a:
        print(a)

dictator
subjects
change
costume
elegance
accepted

In [6]:
x, y = map(int, input().split())
a = { i for i in range(1,x+1) if x % i ==0}
b = { i for i in range(1,y+1) if y % i ==0}
divisor = a & b 
result = 0
if type(divisor) == set:
    result = sum(divisor)
 
print(result)

217

In [27]:
keys = input().split()
values = map(int, input().split())
 
x = dict(zip(keys, values))
del x['delta']
for key, value in x.items():
    if value ==30:
        break
del x[key]

In [28]:
x

{'bravo': 40, 'charlie': 50, 'echo': 70, 'foxtrot': 80, 'golf': 90}

In [15]:
del x['delta']
for key, value in x.items():
    if value ==30:
        break
del x[key]

KeyError: 'delta'