In [16]:

don = int(input())
cou = input()
if cou == 'Cash3000' :
    don -= 3000 
if cou == 'Cash5000' :
    don -= 5000 
print(don)

5464649654

In [37]:
ko, en, ma, sc = map(int,input().split())
if -1>ko or 100<ko or -1>en or 100<en or -1>ma or 100<ma or -1>sc or 100<sc :
    print('잘못된 점수')
elif (ko + en + ma + sc)/4 >=80:
    print('합격')
elif(ko + en + ma + sc)/4 <80:
    print('불합격')

잘못된 점수

In [42]:
ko, en, ma, sc = map(int,input().split())
if 0 <= ko <= 100 and 0 <= en <= 100 and 0 <= ma <= 100 and 0 <= sc <= 100 :
    if (ko + en + ma + sc)/4 >=80:
        print('합격')
    else:
        print('불합격')
else :
    print('잘못된 점수')

잘못된 점수

In [52]:
age = int(input())
balance = 9000
if 7 <= age <= 12 :
    balance = balance-650
elif 13 <= age <=18 :
     balance = balance-1050
elif 19 <= age :
     balance = balance-1250
print(balance)

8350

In [56]:
count = int(input())

for i in range(count) :
    print('i의 값은', end=' ')
    print(i)

i의 값은 0
i의 값은 1
i의 값은 2
i의 값은 3
i의 값은 4

In [59]:
x = int(input())
for i in range(9):
    print(f'{x} * {(i+1)} = {x*(i+1)}')

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [ ]:
i = 0

while i < 20 :
    print('q')
    i = i+2

q
q
q
q
q
q
q
q
q
q

In [65]:
mo = int(input())
while mo >= 1350:
    mo -= 1350 
    print(mo)

12150
10800
9450
8100
6750
5400
4050
2700
1350
0

In [1]:
for i in range(1, 11):
    if i % 3 == 0:
        continue           
    print(i)

1
2
4
5
7
8
10

In [2]:

i=0
while True :
    if i % 10 !=3 :
        i += 1
        continue
    if i > 73 :
        break
    print(i, end=' ')
    i += 1

3 13 23 33 43 53 63 73

In [6]:
start, stop = map(int, input().split())
 
i = start
 
while True:
    if i % 3 == 0 :
        i += 1
        continue
    if i < stop :
        break
    print(i, end=' ')
    i += 1

SyntaxError: invalid syntax (<ipython-input-6-e212ffab1452>, line 6)