# Unit 22. 리스트와 튜플

- 요소추가

In [5]:
a = [10, 20, 30]
a.append(40)
a.append(50)
a

[10, 20, 30, 40, 50]

In [7]:
a.insert(0, 34)
a.insert(3,77)
a

[34, 34, 10, 77, 20, 30, 40, 50]

In [9]:
a.append([100, 200])
a

[34, 34, 10, 77, 20, 30, 40, 50, [100, 200]]

In [10]:
b = [1, 2, 3]
b.extend([30, 40])
b

[1, 2, 3, 30, 40]

-요소 삭제

In [11]:
del a[-1]
a

[34, 34, 10, 77, 20, 30, 40, 50]

In [12]:
a.pop()

50

In [13]:
a

[34, 34, 10, 77, 20, 30, 40]

In [14]:
a.pop(1)

34

In [15]:
a.pop(0)

34

In [16]:
a

[10, 77, 20, 30, 40]

- 특정값의 인덱스 찾기

In [17]:
a.index(20)

2

In [19]:
for index, element in enumerate(a):
    print(f'index: {index}, value:{element}')

index: 0, value:10
index: 1, value:77
index: 2, value:20
index: 3, value:30
index: 4, value:40

In [23]:
for i in range(len(a)):
    print(f'index:{i}, value:{a[i]}')

index:0, value:10
index:1, value:77
index:2, value:20
index:3, value:30
index:4, value:40

In [25]:
value = 20
for index, element in enumerate(a):
    if element == value :
        break
print(index)

2

- 기타

In [27]:
# 특정 값의 갯수
a = [10, 20, 30, 15, 20, 40]
a.count(20)

2

In [41]:
a[::-1]

[40, 20, 15, 30, 20, 10]

In [42]:
a.reverse()
a

[40, 20, 15, 30, 20, 10]

- 정렬sort

In [43]:
a.sort()        #오름차순(ascending order) 정렬
a

[10, 15, 20, 20, 30, 40]

In [48]:
a.sort(reverse=True)  #내림차순(descending order) 정렬
a

[40, 30, 20, 20, 15, 10]

In [50]:
b = [10, 20, 30, 15, 20, 40]
sorted(b)

[10, 15, 20, 20, 30, 40]

In [51]:
b

[10, 20, 30, 15, 20, 40]

- 복사

In [52]:
a

[40, 30, 20, 20, 15, 10]

In [54]:
b=a
print(a,b)

[40, 30, 20, 20, 15, 10] [40, 30, 20, 20, 15, 10]

In [55]:
b[-1] = 100
print(a,b)

[40, 30, 20, 20, 15, 100] [40, 30, 20, 20, 15, 100]

In [57]:
b = a.copy()
print(a,b)
b[-1] = 500
print(a,b)

[40, 30, 20, 20, 15, 100] [40, 30, 20, 20, 15, 100]
[40, 30, 20, 20, 15, 100] [40, 30, 20, 20, 15, 500]

### 22-3 반복문과 리스트

In [58]:
a = [30, 21, 53, 62, 19]
for i in a:
    print(i)

30
21
53
62
19

-인덱스와 요소를 동시에 액세스

In [60]:
for index, value in enumerate(a):
    print(index, value)

0 30
1 21
2 53
3 62
4 19

In [61]:
fruits = ['사과', '배', '귤', '감']
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 사과
1 배
2 귤
3 감

# 22-4. 리스트의 최대값, 최소값, 합계 구하기

In [62]:
a = [30, 21, 53, 62, 19]
small = 10000
for element in a:
    if element < small:
        small=element
small

19

In [64]:
a = [30, 21, 53, 62, 19]
Large = -1
for element in a:
    if element > Large:
        Large=element
Large

62

In [65]:
min(a), max(a)

(19, 62)

In [66]:
sum(a)

185

In [68]:
a = [30, 21, 53, 62, 19]
sum = 0
for i in a:
    sum += i
sum

185

### 22-5. 리스트 표현식(Comprehension)

In [70]:
# 1에서 10까지의 제곱수로 된 리스트를 만드세요
square_list = []
for i in range(1,11):
    square_list.append(i*i)
square_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [72]:
square_list = [i*i for i in range(1,11)]
square_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [74]:
odd_sq = [i*i for i in range(1,11) if i % 2 ==1]
odd_sq

[1, 9, 25, 49, 81]

In [6]:
m, n = map(int, input().split())
res_list = [i*i for i in range(m,n+1) if i % 3 ==0 ]
res_list

[9, 36, 81, 144]

In [7]:
a = [i * k for i in range(2,10) for k in range(1,10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

# 22-6map

In [9]:
a = [1.2, 2.3, 3.4, 4.5]
for i in range(len(a)):
    print(a)
    a[i] = int(a[i])
a

[1.2, 2.3, 3.4, 4.5]
[1, 2.3, 3.4, 4.5]
[1, 2, 3.4, 4.5]
[1, 2, 3, 4.5]

[1, 2, 3, 4]

In [17]:
a = [1.2, 2.3, 3.4, 4.5]
for element in a:
    print(element)
    element = int(element)
a

1.2
2.3
3.4
4.5

[1.2, 2.3, 3.4, 4.5]

In [14]:
list(map(int, a))

[1.2, 2.3, 3.4, 4.5]

In [18]:
def sq(x):
    return x*x

In [19]:
list(map(lambda x: x*x, a))

[1.44, 5.289999999999999, 11.559999999999999, 20.25]