# Unit 23. 2차원 리스트

In [1]:
a = [[10,20], [30,40], [50,60]]
a

[[10, 20], [30, 40], [50, 60]]

In [3]:
import numpy as np
b = np.arange(10, 61, 10).reshape(3,2)
b

array([[10, 20],
       [30, 40],
       [50, 60]])

In [4]:
import pandas as pd
df = pd.DataFrame(a)
df

    0   1
0  10  20
1  30  40
2  50  60

In [5]:
# indexing
a[1][1]

40

In [6]:
a[-1][-1]

60

In [7]:
from pprint import pprint
pprint(a, indent = 4, width = 20)

[   [10, 20],
    [30, 40],
    [50, 60]]

### 23-2. 2차원 리스트와 반복문

In [9]:
for element in a:
    print(element)

[10, 20]
[30, 40]
[50, 60]

In [10]:
for sub in a:
    for element in sub:
        print(element)
    print()

10
20

30
40

50
60

In [11]:
len(a), len(a[0])

(3, 2)

In [13]:
for i in range(len(a)):         #행의 갯수
    for k in range(len(a[i])):
        print(a[i][k], end = ' ')
    print()

10 20
30 40
50 60

In [15]:
for row in a:
    for element in row:
        print(element, end=' ')
    print()

10 20
30 40
50 60

### 23-3. 반복문으로 2차원 리스트 만들기

In [16]:
# 1 차원
a = []
for i in range(5):
    a.append(i)
a

[0, 1, 2, 3, 4]

In [37]:
# 2차원 (3 x 4)
two_d = []
for i in range(3):
    for k in range(4):
        two_d.append(4*i+k)
two_d

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [103]:
# 2차원 (3 x 4)
two_d = []
for i in range(5):
    line = []
    for k in range(5):
        line.append(4*i+k)
    two_d.append(line)
two_d

[[0, 1, 2, 3, 4],
 [4, 5, 6, 7, 8],
 [8, 9, 10, 11, 12],
 [12, 13, 14, 15, 16],
 [16, 17, 18, 19, 20]]

In [112]:
# 2차원 (3 x 4)
row, col = map(int, input().split())

two_d = []
for i in range(row):
    line = []
    for k in range(1):
        line.append(list(input()))
    two_d.append(line)
two_d

[[['*', '*']], [['*', '*']]]

In [111]:


two_d[0].append(5)
two_d[0]

[0, 1, 2, 3, 4, 5, 5, 5]

In [119]:
row, col = map(int, input().split())
matrix = []
matrix.append(list(input()))
for i in range(row-1):
    matrix.append(list(input()))
matrix

[['*', '*', '*'], ['*', '.', '*'], ['.', '.', '.']]

In [120]:
for k in range(col):
    matrix[k].append(0)
    matrix[k].insert(0,0)
matrix

[[0, '*', '*', '*', 0], [0, '*', '.', '*', 0], [0, '.', '.', '.', 0]]

In [130]:
matrix.append([0,0,0,0,0])
matrix.insert(0,[0,0,0,0,0])
matrix

[[0, 0, 0, 0, 0],
 [0, '*', '*', '*', 0],
 [0, '*', '.', '*', 0],
 [0, '.', '.', '.', 0],
 [0, 0],
 [0, 0, 0, 0, 0]]

In [152]:
matrix_1 = []
for k in range(col):
    matrix_1.append(0)

[0, 0, 0, 0, 0]

In [159]:
matrix.append(matrix_1)
matrix.insert(0,matrix_1)
matrix

[[0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, '*', '*', '*', 0],
 [0, '*', '.', '*', 0],
 [0, '.', '.', '.', 0],
 [0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]