In [17]:
a = int(input())    

if a % 400 ==0:
    print(f'{a}윤년')
elif a % 100 ==0:
    print(f'{a}윤년이 아니다')
elif a % 4 ==0:
    print(f'{a}윤년')
else :
    print(f'{a}윤년이 아니다')

13윤년이 아니다

In [68]:
age_1, age_2, age_3 = map(int, input().split())
to_Day_1, to_Day_2, to_Day_3 = 2021, 11, 20
age = to_Day_1 - age_1
if age_1 > to_Day_1 :
    print(' 태어나기 전입니다')
elif age_1 == to_Day_1 and age_2 > to_Day_2 :
    print(' 태어나기 전입니다')
elif age_1 == to_Day_1 and age_2 == to_Day_2 and age_3 > to_Day_3:
    print(' 태어나기 전입니다')
elif age_1 <= to_Day_1 :
    if age_2 > to_Day_2 :
         print(f'당신은 만 {age-1}세 입니다')
    elif age_2 == to_Day_2 and age_3 > to_Day_3:
        print(f'당신은 만 {age-1}세 입니다')
    else :
        print(f'당신은 만 {age}세 입니다')

당신은 만 30세 입니다

In [6]:
for a in range(999):
    for b in range(999):
        for c in range(999):
            if a < b < c and a + b > c and a*a + b*b > c*c and a + b + c == 1000: 
               print(a, b, c)
               break
        if a < b < c and a + b > c and a*a + b*b > c*c and a + b + c == 1000: 
            break
    if a < b < c and a + b > c and a*a + b*b > c*c and a + b + c == 1000: 
        break

33 483 484

In [127]:
# 2-1

a = int(input())
b = a/2+0.5
for i in range(int(b)):
    print(' '*(a-(i+2)), '*'*(2*i+1))

for j in range(1, int(b)):
    print(' '*(a//2+j-1), '*'*(a-2*j))

        *
       ***
      *****
     *******
    *********
     *******
      *****
       ***
        *

In [201]:
##2-2

k = 0
a = range(21)
b = range(60)
for i in a:
    for j in b:
        if j == 3 or j== 13 or j == 23 or j ==30 or j ==31 or j ==32 or j ==33 or j ==34 or j ==35 or j ==36 or j ==37 or j ==38 or j ==39 or j ==43 or j ==53:
            k += 1        
c = range(2)
k1 = 0
for _ in c :
    for _ in b:
        k1 += 1
print(f'{(k+k1)*60}초')

26100초

In [228]:
## 2-5

i_1 = 0
j_1 = 0
N = int(input())
for i in range(1, N+1):
    i_1 += i
for j in range(1,N+1):
    j_1 += j*j
    
print(f'{(i_1*i_1)-j_1}')

2640

In [253]:
##2-4

N = int(input())
y = []
for i in range(1, N+1):
    x = 0
    for j in range(1, i) :
        if i%j ==0 :
            x += j
    if i == x:
        y.append(i)
print(y)

[6, 28, 496, 8128]

[6]