# Unit 30. 위치인수, 키워드 인수

In [2]:
print(10, 20, sep =', ', end ='\n\n')

10, 20

- 위치 인수(positional, argument)

In [3]:
def print_3numbers(a,b,c):
    print(a)
    print(b)
    print(c)

In [4]:
print_3numbers(10,20,30)

10
20
30

In [7]:
x = [10, 20, 30]
print_3numbers(*x)     # * list unpaking

10
20
30

- 가변인수

In [11]:
def print_numbers(*args):
    for arg in args:
        print(arg)

In [12]:
print_numbers(100)

100

In [13]:
print_numbers(10, 20, 30)

10
20
30

In [14]:
print_numbers()

- 고정인수, 가변인수 함께 사용

In [15]:
def print_n_numbers(a, *args):
    print(a)
    for arg in args:
        print(arg)

In [20]:
print_n_numbers(10,range(5))

10
range(0, 5)

- 키워드 인수

In [25]:
def personal_info(name, age, address):
    print('이름 :', name)
    print('나이 :', age)
    print('주소 :', address)

In [26]:
# 위치 인수 로 호출
personal_info('홍길동', 25, '제주시 노형동')

이름 : 홍길동
나이 : 25
주소 : 제주시 노형동

In [27]:
# 키워드 인수로 호출
personal_info(age = 25, address = '연동', name = '길동이')

이름 : 길동이
나이 : 25
주소 : 연동

- 키워드 인수를 사용하는 가변 인수

In [30]:
def personal_info2(**kwargs):
    for key, value in kwargs.items():
        print(f'{key}:{value}')

In [31]:
personal_info2(age = 25, address = '연동', name = '길동이')

age:25
address:연동
name:길동이

-매개 변수의 초깃값

In [42]:
def personal_info3(name, age, address='비공개'):
    print('이름 :', name)
    print('나이 :', age)
    print('주소 :', address)

In [39]:
personal_info3(age = 25, address = '연동', name = '길동이')

이름 : 길동이
나이 : 25
주소 : 연동

In [40]:
personal_info3(age = 25, name = '길동이')

이름 : 길동이
나이 : 25
주소 : 비공개

TypeError: personal_info3() missing 1 required positional argument: 'age'