# Unit 6. 변수(Variable)

### 6-1. 변수 만들기

In [1]:
lbs_weight = 174.5  # snake 표기법
inchHeight = 70.0   # camel 표기법

In [2]:
# tuple unpacking
x, y, z = 10, 20, 30

In [3]:
x,y

(10, 20)

In [4]:
x,y = y, x
x,y

(20, 10)

In [7]:
x += y  # x = x + y
x

30

In [9]:
sum = 0
for i in range (1, 101):
    sum +=  i     # sum = sum + i
sum

5050

In [19]:
input('숫자를 입력하세요>')

'5.5'

In [20]:
number = int(input('정수를 입력하세요>'))
number

10

###정수 두개를 입력으로 받기

In [32]:
s = input('정수 두개 입력>')
s

'30 40'

In [33]:
s.split(' ')

['30', '40']

In [34]:
list(map(int, s.split()))

[30, 40]

In [35]:
num1, num2 =map(int, s.split())
num1, num2

(30, 40)

In [40]:
num1, num2 = map(int, input('정수 두개 입력>').split())
num1, num2

(1, 50)

In [41]:
sum = num1
for i in range (num1, num2):
    sum +=  i     # sum = sum + i
sum

1226

In [52]:
num1, num2 = map(int, input('정수 두개 입력>').split())
num1, num2
sum = (num1-1)
for i in range (num1, (num2+1)):
    sum +=  i     # sum = sum + i
sum

14

In [71]:
s = input(' 정수 두개 입력>')
s
a, b = s.split()
a, b, a+b

('1', '2', '12')

In [66]:
num1 = int(s.split()[0])
num2 = int(s.split()[1])
num1, num2, num1+num2

(1, 2, 3)

In [70]:
num1, num2 = map(int, input('정수 두개 입력>').split())
num1, num2, num1+num2

(1, 2, 3)

In [74]:
n1, n2, n3 = map(int, input('정수 두개 입력>').split())
n1, n2,n3, n1+n2+n3

(1, 2, 3, 6)