# Unit 6. 변수(Variable)

### 6-1. 변수 만들기

In [18]:
lbs_weight = 174.5  # snake 표기법
inchHeight = 70.0   # camel 표기법

In [19]:
# tuple unpacking
x, y, z = 10, 20, 30

In [20]:
x,y

(10, 20)

In [21]:
x,y = y, x
x,y

(20, 10)

In [22]:
x += y  # x = x + y
x

30

In [23]:
sum = 0
for i in range (1, 101):
    sum +=  i     # sum = sum + i
sum

5050

In [24]:
input('숫자를 입력하세요>')

'1 2 3'

In [25]:
number = int(input('정수를 입력하세요>'))
number

ValueError: invalid literal for int() with base 10: '10 20'

###정수 두개를 입력으로 받기

In [ ]:
s = input('정수 두개 입력>')
s

'30 40'

In [ ]:
s.split(' ')

['30', '40']

In [ ]:
list(map(int, s.split()))

[30, 40]

In [ ]:
num1, num2 =map(int, s.split())
num1, num2

(30, 40)

In [ ]:
num1, num2 = map(int, input('정수 두개 입력>').split())
num1, num2

(1, 50)

In [ ]:
sum = num1
for i in range (num1, num2):
    sum +=  i     # sum = sum + i
sum

1226

In [ ]:
num1, num2 = map(int, input('정수 두개 입력>').split())
num1, num2
sum = (num1-1)
for i in range (num1, (num2+1)):
    sum +=  i     # sum = sum + i
sum

14

In [ ]:
s = input(' 정수 두개 입력>')
s
a, b = s.split()
a, b, a+b

('1', '2', '12')

In [ ]:
num1 = int(s.split()[0])
num2 = int(s.split()[1])
num1, num2, num1+num2

(1, 2, 3)

In [ ]:
num1, num2 = map(int, input('정수 두개 입력>').split())
num1, num2, num1+num2

(1, 2, 3)

In [ ]:
n1, n2, n3 = map(int, input('정수 두개 입력>').split())
n1, n2,n3, n1+n2+n3

(1, 2, 3, 6)

In [ ]:
a, b, c = 50, 100, None
print(a)
print(b)
print(c)

50
100
None

In [ ]:
a = 50
b = 100
c = None

print(a)
print(b)
print(c)

50
100
None

In [ ]:
a, b, c, d = map(int, input().split())
e=(a + b + c + d)/4
print(int(e))

88

In [29]:
a = 50
b = 100
c = None

print(a)
print(b)
print(c)

50
100
None