# 1. 익명함수(lambda function)

In [1]:
 f = lambda x:x +10

In [2]:
def func(x):
    return x+10

In [3]:
f(5), func(5)

(15, 15)

In [89]:
a = [1, 3, 5, 7]
type(a)

list

In [5]:
list(map(func,a))

[11, 13, 15, 17]

In [6]:
list(map(f,a))

[11, 13, 15, 17]

In [7]:
list(map(lambda x:x +10,a))

[11, 13, 15, 17]

 - 1 에서 10까지 홀수 제곱의 리스트

In [2]:
list(map(lambda x : str(x) if x % 2 ==1   else x,range(1,11)))

['1', 2, '3', 4, '5', 6, '7', 8, '9', 10]

In [22]:
sq_odd_list = []
for i in range(1,11):
    if i%2 ==1:
        sq_odd_list.append(i*i)
sq_odd_list1

[1, 9, 25, 49, 81]

In [18]:
# 람다 함수
odd_list = list(range(1,11,2))
sq_odd_list1 = list(map(lambda x: x*x ,odd_list))
sq_odd_list1

[1, 9, 25, 49, 81]

In [14]:
# 리스트 표현식
sq_odd_list2 = [i*i for i in range(1,11) if i%2 ==1]
sq_odd_list2

[1, 9, 25, 49, 81]

In [29]:
filterde_list = list(filter(lambda x : x >= 3 and 6 >= x, range(1,11)))
filterde_list

[3, 4, 5, 6]

In [31]:
filterde_list = list(filter(lambda x : 3 <= x <=6, range(1,11)))
filterde_list

[3, 4, 5, 6]

In [32]:
[i for i in range(1,11) if i >= 3 and i <=6]

[3, 4, 5, 6]

In [34]:
[i for i in range(1,11) if 3 <= i <= 6]

[3, 4, 5, 6]

- 1에서 10까지 홀수면 string으로 변환, 짝수면 그대로

In [51]:
[str(i) if i % 2 == 1 else i for i in range(1,11)]

['1', 2, '3', 4, '5', 6, '7', 8, '9', 10]

In [44]:
list(map(lambda x : str(x) if x%2 ==1 else x, range(1,11)))

['1', 2, '3', 4, '5', 6, '7', 8, '9', 10]

In [47]:
def det(x):
    if x % 2 == 1 :
        return str(x)
    return x
list(map(det,range(1,11)))

['1', 2, '3', 4, '5', 6, '7', 8, '9', 10]

In [48]:
def det2(x):
    return str(x) if x % 2==1 else x

In [49]:
list(map(det2,range(1,11)))

['1', 2, '3', 4, '5', 6, '7', 8, '9', 10]

In [50]:
# 리스트 표현식
[str(i) if i % 2 ==1 else i for i in range(1,11)]

['1', 2, '3', 4, '5', 6, '7', 8, '9', 10]

In [63]:
price_str_list = ['142,000', '2,365,000','16,300']

In [60]:
int('123,000'.replace(',',''))

123000

In [64]:
price_list = list(map(lambda x : int(x.replace(',','')), price_str_list))

In [68]:
price_list

[142000, 2365000, 16300]

In [67]:
[int(item.replace(',','')) for item in price_str_list]

[142000, 2365000, 16300]

# 2. 예외처리

In [69]:
def ten_div(x):
    return 10/x

In [70]:
ten_div(2)

5.0

In [71]:
ten_div(0)

ZeroDivisionError: division by zero

In [74]:
try:
    ten_div(0)
except:
    print('Error 발생')

Error 발생

In [78]:
try:
    a = [1, 2, 3]
    print(a[4])
except Exception as e:
    print(e)

list index out of range

In [86]:
x = int(input())
try:
    ten_div(x)
except Exception as e:
    print(e)
else:
    print('Error가 발생하지 않았습니다.')
finally:
    print('try 구문이 모두 끝났습니다.')

division by zero
try 구문이 모두 끝났습니다.

## 3.클래스와 객체

In [113]:
class Calculator:
    def __init__(self,x ,y):
        self.x = x
        self.y = y
    def add(self):
        return self.x +self.y
    def sub(self):
        return self.x-self.y
    def mul(self):
        return self.x * self.y
    def div(self):
        try:
            result = self.x / self.y
        except:
            result = '0으로 나눌수 없음'
        return result

In [114]:
calc = Calculator(10, 5)

In [115]:
#속성
calc.x, calc.y

(10, 5)

In [116]:
# 메소드(method)
calc.add(), calc.sub, calc.mul, calc.div

(15,
 <bound method Calculator.sub of <__main__.Calculator object at 0x000001AC537DAF70>>,
 <bound method Calculator.mul of <__main__.Calculator object at 0x000001AC537DAF70>>,
 <bound method Calculator.div of <__main__.Calculator object at 0x000001AC537DAF70>>)

In [119]:
calc.y = 0
calc.div()

'0으로 나눌수 없음'

- Unit 17 심사문제를 객체지향 방식으로 해결

In [125]:
class Tmoney:
    def __init__(self, balance):
        self.balance = balance
        self.__fare = 1350
    def pay(self):
        if self.balance < self.__fare:
            return('잔액 부족')
        self.balance -=self.__fare
        return (f'요금 지불하고{self.balance:,d}원 남았습니다.')
    def get_fare(self):
        return self.__fare
    def set_fare(self,fare):
        self.__fare = fare

In [123]:
card = Tmoney(5000)
for i in range(4):
    print(card.pay())

요금 지불하고3,650원 남았습니다.
요금 지불하고2,300원 남았습니다.
요금 지불하고950원 남았습니다.
잔액 부족

In [126]:
card = Tmoney(10000)
card._fare

AttributeError: 'Tmoney' object has no attribute '_fare'

In [127]:
card.set_fare(1350)
card.get_fare(1100)

AttributeError: 'Tmoney' object has no attribute 'set_fare'

3125

In [65]:
[i*i if i % 2 == 0 else ' ' for i in range(1,11)]

[' ', 4, ' ', 16, ' ', 36, ' ', 64, ' ', 100]

In [29]:
number = int(input())
print('!'*(number%3==0) + '@'*(number%5==0) or number)

!@

In [96]:
# 1 11 사이 홀수 곱
a = list(map(lambda i : i   if i%2 !=0 else 0 , range(1,12)))
a

[1, 0, 3, 0, 5, 0, 7, 0, 9, 0, 11]

In [157]:
def funk(i):
    for i in range(1,i+1):
        i *= i
    return i

In [158]:
list(map(funk,a))

[1, 16, 9, 256, 25, 1296, 49, 4096, 81, 10000]

In [143]:
sum([i*i for i in range(1,11)])

385

In [154]:
# 짝수면 스트링 홀수 그대로
# 짝수는 제곱

a = list(map(lambda i :i*i if i%2 ==0 else i, range(1,11)))
a

[1, 4, 3, 16, 5, 36, 7, 64, 9, 100]

In [164]:
def sum1(i):
    if i%2==0:
        i +=i
        return i
    return i

In [165]:
list(map(sum1,a))

[1, 8, 3, 32, 5, 72, 7, 128, 9, 200]